services:
  - type: web
    name: connectly
    runtime: python
    buildCommand: pip install -r Connectly/requirements.txt
    startCommand: cd Connectly && gunicorn --worker-class eventlet -w 1 --bind 0.0.0.0:$PORT app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        generateValue: true
    autoDeploy: true
